body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #e3e8ff, #f7f8ff);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth-card {
  background: #fff;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 380px;
  text-align: center;
}

.app-title {
  color: #4c57ff;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon{
    padding-right: 10px;
    height: 35px;
}
h2 {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  margin: 0.5rem 0 0.3rem;
  color: #555;
  font-size: 0.9rem;
}

input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  font-size: 1rem;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #4c57ff;
  outline: none;
}

.btn-primary {
  background-color: #5a5d86;
  color: #fff;
  border: none;
  padding: 0.9rem;
  border-radius: 0.75rem;
  margin-top: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
}
.btn-primary {
  background: linear-gradient(135deg, #616ae8, #6f74ff);
}

.btn-primary:hover {
  background-color: #2c34a9;
}

.auth-footer {
  margin-top: 1.2rem;
  color: #666;
  font-size: 0.9rem;
}

.auth-footer a {
  color: #4c57ff;
  text-decoration: none;
  font-weight: 500;
}

.auth-footer a:hover {
  text-decoration: underline;
}

.auth-card h2 {
  color: #444;
}

