    body {
      font-family: 'Poppins', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f7f9fc;
      margin: 0;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 40px;
    }

    .logo img {
      width: 50px;
      height: 50px;
    }

    .logo h1 {
      font-size: 28px;
      color: #333;
    }

    .profile-container {
      background: #fff;
      padding: 40px 60px;
      border: 1px solid #ddd;
      border-radius: 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      max-width: 400px;
      width: 100%;
      text-align: center;
    }

    .profile-container h2 {
      font-size: 22px;
      font-weight: 700;
      text-align: start;
      color: #222;
      text-transform: uppercase;
    }
    .valid-img{
        text-align: start;
    }

    .profile-info {
      font-size: 15px;
      color: #666;
      text-align: start;
    }

    .profile-container label {
      display: block;
      color: #333;
      text-align: left;
      margin-bottom: 10px;
      margin-top: 25px;
    }

    .profile-container input[type="text"] {
      width: 100%;
      padding: 12px 15px;
      border-radius: 10px;
      border: 1px solid #ccc;
      margin-bottom: 25px;
      font-size: 15px;
    }

    .upload-section {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: flex-start;
      margin-bottom: 5px;
    }

    .upload-section img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      border: 1px solid #ccc;
      margin-bottom: 30px;
    }

    .upload-text {
      font-weight: 500;
      color: #333;
    }

    .upload-subtext {
      color: #888;
      font-size: 13px;
      text-align: left;
    }

    .btn-upload {
      background: #e9f1ff;
      color: #0066ff;
      border: 1px solid #0066ff;
      border-radius: 8px;
      padding: 10px 18px;
      font-size: 15px;
      cursor: pointer;
      margin-bottom: 25px;
      transition: all 0.2s ease;
    }

    .btn-upload:hover {
      background: #0066ff;
      color: #fff;
    }
    .btn-border{
        border: 2px solid #004ecc;
        padding: 3px;
        border-radius: 12px;
    }
    .btn-start {
      background: #0066ff;
      color: #fff;
      border: 2px solid #0066ff;
      border-radius: 12px;
      padding: 12px 30px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
      width: 100%;
    }

    .btn-start:hover {
      background: #004ecc;
      border-color: #004ecc;
    }

    .error-message {
      color: #d93025;
      font-size: 13px;
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 5px;
    }
    .error-message img {
      width: 14px;
      height: 14px;
    }